<div class="full-page">
  <mat-card class="form-card">
    <mat-card-title> Agregar Cliente </mat-card-title>
    <form [formGroup]="createClientForm" (ngSubmit)="addClient()">
      <mat-card-content>
        <mat-form-field class="form-field" appearance="outline">
          <input
            matInput
            placeholder="Nombre"
            formControlName="name"
            type="text"
          />
          <mat-hint
            *ngIf="
              createClientForm.get('name').invalid &&
              (createClientForm.get('name').dirty ||
                createClientForm.get('name').touched)
            "
            ><span class="text-danger">Nombre es requerido</span></mat-hint
          >
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
          <input
            matInput
            placeholder="Apellido"
            formControlName="lastName"
            type="text"
          />
          <mat-hint
            *ngIf="
              createClientForm.get('lastName').invalid &&
              (createClientForm.get('lastName').dirty ||
                createClientForm.get('lastName').touched)
            "
            ><span class="text-danger">Apellido es requerido</span></mat-hint
          >
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
          <input
            matInput
            placeholder="Edad"
            formControlName="age"
            type="number"
          />
          <mat-hint
            *ngIf="
              createClientForm.get('age').invalid &&
              (createClientForm.get('age').dirty || createClientForm.get('age').touched)
            "
            ><span class="text-danger">Edad es requerido</span></mat-hint
          >
        </mat-form-field>
        <mat-form-field class="form-field" appearance="outline">
          <input
            matInput
            readonly
            [matDatepicker]="dp"
            placeholder="Fecha de nacimiento"
            formControlName="dateOfBirth"
          />
          <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
          <mat-datepicker #dp></mat-datepicker>
          <mat-hint
            *ngIf="
              createClientForm.get('dateOfBirth').invalid &&
              (createClientForm.get('dateOfBirth').dirty ||
                createClientForm.get('dateOfBirth').touched)
            "
            ><div>
              <span class="text-danger">Fecha es requerido</span>
            </div></mat-hint
          ><br />
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-raised-button
          color="primary"
          class="button-field"
          type="submit"
        >
          ENVIAR
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
