.full-page {
  height: 100%;
  display: flex;
}
.page-container {
  width: 80%;
  max-width: 100%;
  margin: 15px auto 15px auto;
}

.mat-footer-row {
  font-weight: bold;
}

.mat-table-sticky {
  border-top: 1px solid #e0e0e0;
}
.mat-column-actions {
  max-width: 100px;
}
