<div class="full-page">
  <mat-card class="login-card">
    <mat-card-title> Login </mat-card-title>
    <mat-card-content>
      <form (onSubmit)="login()">
      <mat-form-field class="login-field">
        <input
          matInput
          placeholder="Email"
          name="email"
          [(ngModel)]="usuario.email"
          type="email"
        />
      </mat-form-field>
      <mat-form-field class="login-field">
        <input
          matInput
          placeholder="Password"
          name="password"
          [(ngModel)]="usuario.password"
          type="password"
        />
     
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        class="login-field"
        (click)="login()"
        type="submit"
      >
        Login
      </button>
    </form>
    </mat-card-content>
    <mat-card-actions>
      
    </mat-card-actions>
  </mat-card>
</div>
